/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/******* FONTS *******/
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:100,200,300,400,500,600,700,800,900&subset=latin-ext');



/******* COLORS *******/
:root {
	--fontColor: #4A4A4A;
	--borderColor: #4A4A4A;
	--greenColor: #286545;
	--textSelectionColor: #DBBD0D;
	--errorColor: #D0021B;
}



/******* GENERAL *******/
*, *:before, *:after {
	box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Raleway', sans-serif;
	color: var(--fontColor);
	-webkit-font-smoothing: subpixel-antialiased;
}



/******* TEXT *******/
.written {
	font-family: 'Pacifico', sans-serif;
	color: var(--greenColor);
}



/******* LINKS *******/
a {
	text-decoration: none;
	color: var(--greenColor);
	margin: 0;
	padding: 0;
}

a:hover {
	transition: opacity .15s;
	opacity: 0.75;
}


/******* FORMS *******/
form {
	margin: 0 auto;
	width: 80%;
}

input {
	display: block;
	margin: 0 auto 35px;
	padding: 5px 10px;
	background: #FFFFFF;
	border: none;
	border-bottom: 1px solid var(--borderColor);
	border-radius: 0;
	width: 100%;
	font-size: 1.25em;
}

input:focus {
	border: none;
	border-bottom: 2px solid var(--greenColor);
	/*box-shadow: inset 1px 0 0 0 #fff, inset -1px 0 0 0 #fff, inset 0px -1px 0px 1px var(--greenColor);*/
	outline: none;
}

form .input-details {
	display: block;
	text-align: left;
	font-size: 1.125em;
	font-weight: 300;
}

input[type="checkbox"] {
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background: #fff;
	height: 25px;
	width: 25px;
	border: 1px solid var(--greenColor);
	display: inline-block;
	font-size: 25px;
}

input[type="checkbox"]:checked {
	background: var(--greenColor);
}

input[type="checkbox"]:hover {
	filter: brightness(90%);
}

input[type="checkbox"]:disabled {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}

input[type="checkbox"]:after {
	content: '';
	position: relative;
	left: 7px;
	top: -8px;
	width: 40%;
	height: 60%;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	display: inline-block;
}

input[type="checkbox"]:checked:after {
	display: inline-block;
}

input[type="checkbox"]:disabled:after {
	border-color: #7b7b7b;
}

.input-checkbox-container {
	text-align: left;
	margin-bottom: ;
}

.input-checkbox-container .input-details {
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	margin-left: 6px;
	text-align: left;
}

.input-checkbox-container .input-details a {
	font-weight: 600;
}



/******* BUTTONS *******/
.btn {
	background: var(--greenColor);
	width: auto;
	padding: 10px 50px;
	color: #fff;
	font-size: 1.25em;
	font-weight: 500;
	border: none;
	border-radius: 25px;
	box-shadow: 0 8px 12px -3px #286545;
	transition: all .25s;
}

.btn:hover {
	transition: all .25s;
	box-shadow: 0 4px 10px -3px #286545;
	cursor: pointer;
	padding: 10px 25px;
	border-radius: 10px;
}



/*** ANIMATIONS ***/
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}



/*** FOOTER ***/

.default-footer {
	margin: 50px auto 0;
	padding-bottom: 20px;
	color: #999;
}

/* Sticky Footer */
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: var(--greenColor);
    text-shadow: none;
	color: #fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******* SIGN IN *******/
.sign-in-body {
	text-align: center;
}

.sign-in-header .title {
	font-size: 2.875em;
	margin-bottom: 50px;
}

.sign-up-info {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
}

.login-error {
	color: var(--errorColor);
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
